<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>de.NBI Winter School on Computational Metabolomics</h2>
        <p class="lead">Learning goals: Comprehensive overview of
	  Metabolomics data processing pipeline from data to
	  publication.</p>

	<p>Prerequisites: The School is targeted at graduate students
and early-stage researchers in metabolomics and
bioinformatics. Participants should have some metabolomics experience
and an interest in computational data analysis. Some scripting
experience will be helpful, but not strictly required. Participants
should bring their own laptop.
	</p> 

	<p>Keywords: Metabolomics, Metabolite Identification, mass
spectrometry, data processing, metabolite annotation
	</p>
	
	<p>Tools: OpenMS, MetFrag, MassBank, MetaboLights</p>
	<p>Educators:
	  Oliver Kohlbacher (CIBI), Steffen Neumann (CIBI/MASH), Christoph Steinbeck (CAU), tba</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>


