<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>de.NBI Winter School on Computational Metabolomics</h2>
        <p class="lead">Date: 05.03.-08.03.2018.</p>

	<p>Application and Deadlines:<br/> In total, 20 participants
	  (advanced PhD students / post-docs from computer science /
	  bioinformatics / life sciences coming from Germany, Europe,
	  World-Wide) will be selected based on short applications.</p>

	<p>Please use the <a href="">registration form</a>
	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeXDVTeVjFzsvkOeCixLsRDFTXnS6lYiz3iIoWBtBmdfK4u8Q/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>


